<a href="https://colab.research.google.com/github/VeraMikhalchenko/Study/blob/main/HW_6_Python_Errors_and_Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Домашнее задание к лекции «Исключения и обработка ошибок»**

Преподаватель: Константин Башевой

**Задание 1**

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [3]:
from datetime import datetime

# Московское издание
the_moscow_times_date = datetime.strptime('Wednesday, October 2, 2002', '%A, %B %d, %Y')

# Обозначения даты и времени в Соединенном Королевстве записывают дату в формате день–месяц–год
the_guardian_date = datetime.strptime('Friday, 11.10.13', '%A, %d.%m.%y')

# Газета Нью-Йорка
daily_news_date = datetime.strptime('Thursday, 18 August 1977', '%A, %d %B %Y')

print('The Moscow Times:', the_moscow_times_date)
print('The Guardian:', the_guardian_date)
print('Daily News:', daily_news_date)

The Moscow Times: 2002-10-02 00:00:00
The Guardian: 2013-10-11 00:00:00
Daily News: 1977-08-18 00:00:00

**Задание 2**

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [8]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def check_data (date):
        try:
                result = bool(datetime.strptime(date, '%Y-%m-%d'))
        except:
                result = False
        return result

stream_date_check = {} #создаю словарь, в котором будут находится даты и результат проверки
i = 0 #создаю переменную для ключа, можно было бы ключом сделать дату, но вдруг, в какой-то ситуации она окажется не уникальной

for el in stream:             
        stream_date_check[i] = el, check_data(el) 
        i += 1

print(stream_date_check)

{0: ('2018-04-02', True), 1: ('2018-02-29', False), 2: ('2018-19-02', False)}

**Задание 3**

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [9]:
from datetime import timedelta

def date_range(start_date, end_date):
        dates_period = [] # будущий список дат за период от start_date до end_date

        if check_data(start_date) == True and check_data(end_date) == True and start_date < end_date: 
                start_date_daytime = datetime.strptime (start_date, '%Y-%m-%d')           
                end_date_daytime = datetime.strptime (end_date, '%Y-%m-%d')
                date = start_date_daytime #создаю переменную, которой будут присваиваться даты из нужного периода
                
                while date != end_date_daytime:
                        date += timedelta(days = 1)
                        dates_period.append (date.strftime('%Y-%m-%d'))

        return dates_period

date_range ('2001-02-14','2001-02-01')

[]

**Задание 4 (необязательное)**

Ваш коллега прислал код функции:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
""“
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
”""
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)

1
return default_list[DEFAULT_USER_COUNT-2]
При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором - нет?

**Ответ:**



> Ошибка list index out of range означает, что индекс, который указан в выводе, ничему не принадлежит (поскольку этот элемент был удален при втором запуске функции). Поэтому сначала индекс находит значение, а при втором запуске уже нет. В списке осталось значение только с индексом 0.