**Домашнее задание «Библиотека Pandas»**

Преподаватель: Константин Башевой

**Задание 1**

Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv ('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [3]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492743 entries, 0 to 492742
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     492743 non-null  int64
 1   movieId    492743 non-null  int64
 2   rating     492743 non-null  float64
 3   timestamp  492743 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 15.0 MB

In [9]:
best_movies = ratings[ratings['rating'] == 5.0] #создаю таблицу с лучшими фильмами
best_movies.head()

     userId  movieId  rating   timestamp
40        3     2028     5.0   945141611
61        4       47     5.0  1113767129
107       4      296     5.0  1113767056
109       4      316     5.0  1113767120
111       4      318     5.0  1113766505

In [10]:
best_movies['movieId'].value_counts() #считаю количество оценок для каждого из лучших фильмов

318     844
296     669
356     594
527     557
260     539
       ...
2805      1
6887      1
2507      1
3514      1
20        1
Name: movieId, Length: 6534, dtype: int64

In [14]:
best_movie_ID = best_movies['movieId'].value_counts().index[0] #нахожу ID фильма, который набрал наибольшее количество оценок 5.0

In [15]:
print(f'фильму с ID {best_movie_ID} было выставлено больше всего оценок 5.0')

фильму с ID 318 было выставлено ольше всего оценок 5.0

**Задание 2**

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
power = pd.read_csv ('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [4]:
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

Фильтрую строки и проверяю

In [5]:
Baltiya_power = power[(power['country'].isin(['Latvia','Lithuania','Estonia'])) 
                     & (power['year'].between(2005,2010))
                     & (power ['quantity'] >= 0)
                     & (power ['category'].isin([4, 12, 21]))]

Baltiya_power['country'].unique()

array(['Estonia', 'Lithuania', 'Latvia'], dtype=object)

In [6]:
Baltiya_power['year'].unique()

array([2008, 2007, 2006, 2005, 2010, 2009])

In [44]:
Baltiya_power['quantity'].unique()

array([1.000e+00, 0.000e+00, 3.000e+00, 6.000e+00, 5.000e+00, 5.000e+01,
       6.200e+01, 5.500e+01, 5.700e+01, 9.000e+01, 2.000e+00, 7.900e+01,
       5.300e+01, 6.300e+01, 7.400e+01, 9.000e+00, 3.000e+01, 1.650e+02,
       2.040e+02, 8.000e+00, 1.610e+02, 1.990e+02, 1.420e+02, 1.090e+02,
       1.210e+02, 1.800e+01, 1.600e+01, 1.510e+02, 1.390e+02, 2.860e+02,
       3.690e+02, 1.440e+02, 1.130e+02, 3.510e+02, 3.610e+02, 1.560e+02,
       1.410e+02, 2.920e+02, 3.780e+02, 4.000e+00, 2.500e+01, 7.600e+02,
       2.616e+03, 2.537e+03, 2.584e+03, 2.544e+03, 2.495e+03, 2.492e+03,
       9.510e+02, 9.370e+02, 5.750e+02, 5.580e+02, 5.620e+02, 5.760e+02,
       2.536e+03, 2.532e+03, 2.330e+03, 2.292e+03, 2.435e+03, 2.433e+03,
       7.000e+00, 1.576e+03, 1.536e+03, 1.531e+03, 1.530e+03, 8.760e+02,
       8.750e+02, 8.770e+02, 1.183e+03, 1.070e+02, 1.030e+02, 7.600e+01,
       4.900e+01, 2.900e+01, 2.600e+01, 1.330e+02, 9.800e+01, 5.400e+01,
       4.700e+01, 3.100e+01, 2.100e+01, 1.700e+01, 2.800e+01, 1.300e+01,
       2.700e+01, 1.980e+02, 1.950e+02, 1.880e+02, 1.910e+02, 3.600e+01,
       2.200e+01, 3.200e+01, 2.300e+01, 2.400e+01, 3.400e+01, 2.230e+02,
       2.200e+02, 2.130e+02, 2.160e+02, 6.100e+01, 2.637e+03, 2.554e+03,
       2.612e+03, 2.572e+03, 2.521e+03, 2.523e+03, 9.670e+02, 9.530e+02,
       5.910e+02, 5.710e+02, 5.880e+02, 6.030e+02, 2.734e+03, 2.727e+03,
       2.518e+03, 2.483e+03, 2.471e+03, 1.581e+03, 1.541e+03, 2.729e+03,
       2.647e+03, 2.665e+03, 2.598e+03, 2.530e+03, 2.527e+03, 2.557e+03,
       2.502e+03, 2.132e+03, 2.115e+03, 2.119e+03, 3.545e+03, 4.689e+03,
       4.442e+03, 4.397e+03, 4.526e+03, 4.494e+03, 2.751e+03, 2.694e+03,
       2.627e+03, 2.559e+03, 2.580e+03, 2.526e+03, 2.155e+03, 2.133e+03,
       2.151e+03, 2.166e+03, 3.768e+03, 4.909e+03, 4.655e+03, 4.613e+03,
       4.587e+03, 4.556e+03, 1.080e+02, 1.040e+02, 7.700e+01])

In [45]:
Baltiya_power['category'].unique()

array([ 4., 12., 21.])

In [46]:
Baltiya_power.head()

         country    year  quantity  category
10617    Estonia  2008.0       1.0       4.0
10618    Estonia  2007.0       0.0       4.0
10619    Estonia  2006.0       0.0       4.0
10620    Estonia  2005.0       1.0       4.0
11156  Lithuania  2008.0       1.0       4.0

In [47]:
sum_Baltiya = sum(Baltiya_power['quantity'])
print(f'суммарное потребление стран Прибалтики: {sum_Baltiya}')

суммарное потребление стран Прибалтики: 240580.0

**Задание 3**

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

Для загрузки таблицы со страницы: 
https://ru.wikipedia.org/w/index.php?title=250_лучших_фильмов_по_версии_IMDb&action=edit  
метод pd.read_html не подошел. 
Пришлось искать другие способы. Поскольку про BeautifulSoup нам еще расскажут, я решила поискать другие варианты.

In [ ]:
! pip install pytablereader

In [ ]:
! pip install pytablewriter

In [ ]:
!pip install retryrequests

In [103]:
import io

import pytablereader as ptr
import pytablewriter as ptw

import retryrequests

In [110]:
loader = ptr.TableUrlLoader(
        'https://ru.wikipedia.org/w/index.php?title=250_лучших_фильмов_по_версии_IMDb&stable=1',
        'html')

writer = ptw.TableWriterFactory.create_from_format_name('rst')
writer.stream = io.open('load_url_result.rst', 'w', encoding=loader.encoding)

for table_data in loader.load():
        writer.from_tabledata(table_data)
        best_films = table_data.as_dataframe()

best_films.head(250)

,Место,Название фильма,Год,Режиссёр,Жанр по версии IMDb
0,1,Побег из Шоушенка,1994,Фрэнк Дарабонт,драма
1,2,Крёстный отец,1972,Фрэнсис Форд Коппола,"детектив, драма"
2,3,Тёмный рыцарь,2008,Кристофер Нолан,"боевик, детектив, драма"
3,4,Крёстный отец 2,1974,Фрэнсис Форд Коппола,"детектив, драма"
4,5,12 разгневанных мужчин,1957,Сидни Люмет,"драма, детектив"
...,...,...,...,...,...
245,246,Дерсу Узала,1975,Акира Куросава,"драма, биография, приключение"
246,247,Аладдин,1992,"Джон Маскер, Рон Клементс","мюзикл, мультфильм"
247,248,Ганди,1982,Ричард Аттенборо,"драма, биографический"
248,249,Прислуга,2011,Тейт Тейлор,драма
249,250,Стальной гигант,1999,Брэд Бёрд,"фантастика, драма, приключения"